@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.gradient-bg{
    background: rgb(18,23,22);
    background: linear-gradient(137deg, rgba(18,23,22,1) 43%, rgba(1,0,138,1) 100%);
}

*, *::after, *::before{
    font-family: "Poppins", sans-serif ;
    word-spacing: 0.1rem;
}

.bg-light-blue{
    background-color: #126BF9;
}

.text-light-blue{
    color: #126BF9;
}

.testcontainer-length{
    width: 680px;
    height: 200px;
}

.option-container-width{
    width: 680px;
}